<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <div id="app">
        {{- partial "header.html" . -}}
        {{- block "main" . }}{{- end }}
        {{- partial "footer" -}}
    </div>
    {{- partial "script.html" . -}}
</body>

</html>