{{ define "main" }}
{{- partial "section/breadcrumbs" . -}}
<section class="section latest-news-area blog-grid-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-12">
                <div class="row">
                    {{ $paginator := .Paginate .Data.Pages.ByDate.Reverse }}

                    {{ range $paginator.Pages }}
                    <div class="col-lg-6 col-12">
                        {{ .Render "single-news" }}
                    </div>
                    {{ end }}
                </div>

                {{ partial "pagination" $paginator }}

            </div>

            <aside class="col-lg-4 col-md-5 col-12">
                <div class="sidebar">

                    {{- partial "widgets/search" . -}}
                    {{- partial "widgets/recent-post" . -}}
                    {{- partial "widgets/categories" . -}}

                </div>
            </aside>
        </div>
    </div>
</section>
{{ end }}