<div class="single-news custom-shadow-hover wow fadeInUp" data-wow-delay=".6s"
    style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
    <div class="image">
        <a href="{{ .RelPermalink }}"><img class="thumb" src="{{ .Params.img }}" alt="{{ .Title }}"></a>
    </div>
    <div class="content-body">
        <div class="meta-data">
            <ul>
                <li>
                    <i class="fa fa-user"></i>
                    <a href="javascript:void(0)">
                        {{ $pages := .Site.Pages.ByPublishDate.Reverse }}
                        {{ range .Params.authors }}
                        {{ range where (where $pages "Type" "authors") ".Params.name" . }}
                        {{ .Params.name }}
                        {{ end }}
                        {{ end }}
                    </a>
                </li>
                <li>
                    <i class="fa fa-calendar"></i>
                    <a href="javascript:void(0)">{{ .PublishDate.Format "2006-01-02" }}</a>
                </li>
            </ul>
        </div>
        <h4 class="title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
        <p>{{ .Summary }}</p>
        <div class="button">
            <a href="{{ .RelPermalink }}" class="btn">Leer Más</a>
        </div>
    </div>
</div>