<div class="col-lg-6 col-md-6 col-12">
    <div class="single-team wow fadeInUp" data-wow-delay=".2s"
        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
        <div class="row">
            <div class="col-lg-5 col-12">
                <div class="image">
                    <img src="{{ .Params.photo }}" alt="{{ .Params.name }}">
                </div>
            </div>

            <div class="col-lg-7 col-12">
                <div class="info-head">
                    <div class="info-box">
                        <span class="designation">{{ .Params.description }}</span>
                        <h4 class="name"><a href="#">{{ .Params.name }}</a></h4>
                        <p>{{ .Summary }}</p>
                    </div>

                    <!--<ul class="social">
                        <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="lni lni-behance-original"></i></a></li>
                    </ul>-->
                </div>
            </div>
        </div>
    </div>
</div>