<div class="single-event wow fadeInUp" data-wow-delay=".2s"
    style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
    <div class="event-image">
        <a href="{{ .RelPermalink }}"><img src="{{ .Params.img }}" alt="{{ .Title }}"></a>
        <p class="date"><i class="fa fa-book"></i></p>
    </div>
    <div class="content">
        <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        <p>{{ .Summary }}</p>
    </div>
    <div class="bottom-content">
        <a class="speaker" href="javascript:void(0)">
            {{ $pages := .Site.Pages.ByPublishDate.Reverse }}
            {{ range .Params.authors }}
            {{ range where (where $pages "Type" "authors") ".Params.name" . }}
            <img src="{{ .Params.photo }}" alt="{{ .Params.name }}" />
            <span>{{ .Params.name }}</span>
            {{ end }}
            {{ end }}
        </a>
    </div>
</div>