{{ define "main" }}
{{- partial "section/breadcrumbs" . -}}
<section class="section blog-single">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-12 col-12">
                <div class="single-inner">
                    <div class="post-thumbnils">
                        <img src="{{ .Params.img }}" alt="{{ .Title }}" title="{{ .Title }}" />
                    </div>
                    <div class="post-details">
                        <div class="detail-inner">
                            <h2 class="post-title text-center">
                                {{ .Title }}
                            </h2>
                            {{ .Content}}
                        </div>
                        <div class="post-comments">
                            <h3 class="comment-title">Comentarios</h3>
                            <div id="disqus_thread"></div>
                            <script>
                                var disqus_config = function () {
                                    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                                    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                                };

                                (function () {
                                    var d = document, s = d.createElement('script');
                                    s.src = 'https://serscout.disqus.com/embed.js';
                                    s.setAttribute('data-timestamp', +new Date());
                                    (d.head || d.body).appendChild(s);
                                })();
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}