<div class="breadcrumbs overlay" style="background-image: url({{ .Params.img }});">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 offset-lg-2 col-md-12 col-12">

                <div class="breadcrumbs-content">
                    <h1 class="page-title">{{ .Title }}</h1>
                    <p>{{ .Summary }}</p>
                </div>

            </div>
        </div>
    </div>
</div>