<section class="features">
    <div class="container-fluid">
        <div class="single-head">
            <div class="row">

                <div class="col-lg-4 col-md-4 col-12 padding-zero">
                    <div class="single-feature">
                        <h3><a href="/archivos/">Documentos</a></h3>
                        <p>Distribuimos y generamos archivos con el fin de simplificar la documentación para educadores
                            y beneficiarios</p>
                        <div class="button">
                            <a href="/archivos/" class="btn">Ir a Documentos <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-12 padding-zero">
                    <div class="single-feature">
                        <h3><a href="/blog/">Contribuciones</a></h3>
                        <p>El blog se conforma de nuestras publicaciones y el contenido que donan los miembros y
                            lectores de la comunidad</p>
                        <div class="button">
                            <a href="/blog/" class="btn">Ir al Blog <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-12 padding-zero">
                    <div class="single-feature">
                        <h3><a href="javascript:void(0)">Asociaciones</a></h3>
                        <p>Tratamos de promover contenido para todas las Asociaciones, usando información fiel al
                            escultismo</p>
                        <div class="button">
                            <a href="javascript:void(0)" class="btn">Explorar <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>