<section class="hero-area">
    <div class="tns-outer" id="tns1-ow">
        
        <div class="hero-inner overlay tns-item" style="background-image: url('https://www.clarin.com/img/2018/04/29/HyZgcPD6f_720x0__1.jpg');" id="tns1-item0" aria-hidden="true" tabindex="-1">
            <div class="container">
                <div class="row ">
                    <div class="col-lg-8 offset-lg-2 col-md-12 co-12">
                        <div class="home-slider">
                            <div class="hero-text">
                                <h5 class="wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                                    Tu lugar en el mundo
                                </h5>
                                <h1 class="wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                                    Ser Scout
                                </h1>
                                <p class="wow fadeInUp" data-wow-delay=".7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
                                    Ser Scout es un Blog que busca unir scouts <br> y guias de todo el mundo para compartir el <br> escultismo como B.P. lo penso
                                </p>
                                <div class="button wow fadeInUp" data-wow-delay=".9s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeInUp;">
                                    <a href="/blog/" class="btn">Nuestro Blog</a>
                                    <a href="/archivos/" class="btn alt-btn">Documentos</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>