<section class="events section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <div class="section-icon wow zoomIn" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: zoomIn;">
                        <i class="fa fa-book"></i>
                    </div>
                    <h2 class="wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        Últimos documentos
                    </h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                        Contribuir con documentos o informarnos si alguno tiene algún error o se encuentra una infracción.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">

            {{ range first 2 (where .Site.RegularPages.ByDate.Reverse "Type" "in" (slice "archivos")) }}
                <div class="col-lg-4 col-md-6 col-12">
                    {{ .Render "single-doc-big" }}
                </div>
            {{ end }}
            
            

            <div class="col-lg-4 col-md-12 col-12">

                {{ range first 3 (after 2 (where .Site.RegularPages.ByDate.Reverse "Type" "in" (slice "archivos"))) }}
                    {{ .Render "single-doc-small" }}
                {{ end }}
            
            </div>
        </div>
    </div>
</section>