<div class="latest-news-area section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <div class="section-icon wow zoomIn" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: zoomIn;">
                        <i class="fa fa-quote-right"></i>
                    </div>
                    <h2 class="wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        Últimas Publicaciones
                    </h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                        Las últimas publicaciones realizadas, no te olvides de dejar tus comentarios o enviar tus artículos para ayudar a todos los scouts.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">

            {{ range first 3 (where .Site.RegularPages.ByDate.Reverse "Type" "in" (slice "publicaciones")) }}
            <div class="col-lg-4 col-md-6 col-12">
                {{ .Render "single-news" }}
            </div>
            {{ end }}
        
        </div>
    </div>
</div>