<section class="about-us section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="about-left">
                    <div class="about-title align-left">
                        <span class="wow fadeInDown" data-wow-delay=".2s"
                            style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">Nos
                            une</span>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s"
                            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">Una promesa
                        </h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s"
                            style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                            “Yo... por mi honor, prometo: hacer todo lo posible para cumplir mis deberes para la Patria,
                            mi fé, ayudar al prójimo en todas las circunstancias y observar la Ley Scout”
                        </p>
                        <p class="qote wow fadeInUp" data-wow-delay=".8s"
                            style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">
                            Que trasciende culturas, religiones y creencias en busca de una hermandad mundial que
                            hermana a todos los scouts del mundo.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="about-right wow fadeInRight" data-wow-delay=".4s"
                    style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInRight;">
                    <img src="https://www.scoutsmarinos.com/wp-content/uploads/2016/09/IMG-20160905-WA0030.jpg"
                        alt="#" />
                </div>
            </div>
        </div>
    </div>
</section>