<section id="teachers" class="teachers section">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <div class="section-title align-center gray-bg">
                    <div class="section-icon wow zoomIn" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: zoomIn;">
                        <i class="fa fa-users"></i>
                    </div>
                    <h2 class="wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        Nuestro Staff
                    </h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                        Conoce a aquellas personas que hacen esto posible y se esfuerzan por hacer llegar todo el contenido.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            {{ range first (sub (len (where .Site.Pages "Type" "authors")) 1) (where .Site.Pages "Type" "authors") }}
                {{ .Render "single-author" }}
            {{ end }}
        </div>
    </div>
</section>