<section class="our-achievement section overlay">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-3 col-12">
                <div class="single-achievement wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <h3 class="counter"><span id="secondo1" class="countup" cup-end="{{ len .Site.RegularPages }}">{{ len .Site.RegularPages }}</span>+</h3>
                    <h4>Publicaciones</h4>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-12">
                <div class="single-achievement wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                    <h3 class="counter"><span id="secondo2" class="countup" cup-end="{{ sub (len (where .Site.Pages "Type" "authors")) 1 }}">{{ sub (len (where .Site.Pages "Type" "authors")) 1 }}</span></h3>
                    <h4>Autores</h4>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-12">
                <div class="single-achievement wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                    <h3 class="counter"><span id="secondo3" class="countup" cup-end="3">
                        <script type="text/javascript">
                            var date = new Date().getFullYear();
                            document.write(date - 2019)
                        </script>
                      </h3>
                    <h4>Años</h4>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-12">
                    <div class="single-achievement wow fadeInUp" data-wow-delay=".8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">
                    <h3 class="counter"><span id="secondo3" class="countup" cup-end="{{ len (where .Site.RegularPages "Type" "in" (slice "archivos")) }}">{{ len (where .Site.RegularPages "Type" "in" (slice "archivos")) }}</span></h3>
                    <h4>Documentos</h4>
                </div>
            </div>

        </div>
    </div>
</section>