<div class="widget categories-widget">
    <h5 class="widget-title">Estadisticas</h5>
    <ul class="custom">
        <li>
            <a href="/blog/">Publicaciones <span>{{ len .Site.RegularPages }}</span></a>
        </li>
        <li>
            <a href="/archivos/">Documentos <span>{{ len (where .Site.RegularPages "Type" "in" (slice "archivos"))
                    }}</span></a>
        </li>
        <li>
            <a href="javascript:void(0)">Autores <span>{{ sub (len (where .Site.Pages "Type" "authors")) 1 }}</span></a>
        </li>
    </ul>
</div>