<div class="widget popular-feeds">
    <h5 class="widget-title">Recent Posts</h5>
    <div class="popular-feed-loop">
        {{ range first 3 .Site.RegularPages.ByDate.Reverse }}
        <div class="single-popular-feed">
            <div class="feed-img">
                <a href="{{ .RelPermalink }}"><img src="{{ .Params.img }}" alt="{{ .Title }}" /></a>
            </div>
            <div class="feed-desc">
                <h6 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </h6>
                <span class="time"><i class="fa fa-calendar"></i> {{ .PublishDate.Format "2006-01-02" }}</span>
            </div>
        </div>
        {{ end }}
    </div>
</div>