<div class="widget search-widget">
    <h5 class="widget-title">Busqueda</h5>
    <form action="#">
        <input id="search-input" type="text" placeholder="Buscar aquí...">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>

    <div id="search-results-box" class="box" style="display: none; overflow-y: scroll;">
        <ul id="search-results-list" class="list-group" style="max-height: 200px;">
        </ul>
        <div id="search-results-noresults" class="notification is-info">
            No hay resultados.
        </div>

    </div>
</div>