<li><a href="https://www.facebook.com/SerScoutOficial/"><i class="fa fa-facebook"></i></a></li>
<li><a href="https://www.instagram.com/serscoutoficial/"><i class="fa fa-instagram"></i></a></li>
<li><a href="/index.xml"><i class="fa fa-rss"></i></a></li>