body {
    font-family: 'Comfortaa', cursive !important;
}

.navbar-brand img {
    max-height: 70px;
    max-width: 70px;
}

.logo img {
    max-height: 120px;
    max-width: 120px;
}

.latest-news-area .single-news .image img {
    max-height: 200px;
}

.button .btn:hover::before,
.button .btn::before,
.btn,
.btn:hover,
img,
.single-event,
.single-team,
.scroll-top,
.widget,
.single-news,
blockquote,
.border,
.comment-title,
.single-inner,
.sidebar .widget .widget-title,
.pagination .pagination-list,
.pagination .pagination-list li.active a,
.pagination .pagination-list li:hover a,
.pagination .pagination-list li a,
.latest-news-area .single-news .content-body,
.popular-tag-widget .tags>a,
.single-inner,
.blog-single .post-details,
.sidebar .widget.search-widget form input,
.sidebar .widget.search-widget form button {
    border-radius: var(--radius) !important;
}

.teachers .single-team:hover::before,
.teachers .single-team::before {
    border-radius: 0 var(--radius) var(--radius) 0 !important;
}

.events .single-event .content,
.events .single-event .event-image,
.events .single-event .event-image img,
.latest-news-area .single-news .image img,
.latest-news-area .single-news .image,
.blog-single .post-thumbnils img {
    border-radius: var(--radius) var(--radius) 0 0 !important;
}

.events .single-event .event-image,
.blog-single .post-thumbnils img {
    margin-bottom: -10px;
}

.events .single-event .bottom-content {
    border-radius: 0 0 var(--radius) var(--radius);
}

.blog-single .post-details ul li {
    margin-left: 30px;
    top: 1px;
    margin-top: 10px;
}

.blog-single .post-details ul {
    list-style-type: none
}

.blog-single .post-details ul li::before {
    color: var(--accent-color);
    font-family: ForkAwesome;
    content: "\f058";
    margin-right: 10px;
}

.blog-single .post-details blockquote::before{
    font-family: ForkAwesome;
    content: "\f10e";
    font-size: 40px;
}

.blog-single .post-details ol li::before {
    color: var(--accent-color);
    margin-right: 10px;
}

.blog-single .post-details ul,
.blog-single .post-details ol {
    margin-top: 20px;
    margin-bottom: 30px;
}