<footer class="footer">

    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12">

                    <div class="f-about single-footer">
                        <div class="logo">
                            <a href="index.html"><img src="/img/favicon.png" alt="Logo" /></a>
                        </div>
                        <p>El blog se creó con la finalidad de gestionar buen contenido para todas las ramas Scout y que
                            tanto dirigentes como jóvenes puedan obtener propuestas del sitio y que todos contribuyamos
                            juntos para colaborar entre los scouts</p>
                        <div class="footer-social">
                            <ul>
                                {{- partial "widgets/social" -}}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12">

                    <div class="single-footer sm-custom-border f-link text-center">
                        <h3>Menu</h3>
                        <ul>
                            <li><a href="/">Inicio</a></li>
                            <li><a href="/blog/">Publicaciones</a></li>
                            <li><a href="/archivos/">Documentos</a></li>
                        </ul>
                    </div>

                </div>

                <div class="col-lg-3 col-md-6 col-12">

                    <div class="single-footer footer-newsletter">
                        <h3 class="text-center">Contacto</h3>
                        <p>Comunicate con nosotros por todas nuestras red sociales. Siempre estamos contentos de sumar
                            mas gente al equipo.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="footer-bottom">
        <div class="container">
            <div class="inner">
                <div class="row">
                    <div class="col-12">
                        <div class="left">
                            <p>Creado con <i class="fa fa-heart text-danger"></i> por <a href="https://lynx.net.ar/"
                                    rel="nofollow" target="_blank">Lynx Software
                                    Design</a> para <b>SerScout</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>