<head>

    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}

    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta property="og:description" name="description"
        content="{{ .Params.description }} Un lugar para hablar de Escultismo" />
    <meta name=”robots” content="index, follow" />
    <meta name="author" content="SerScout" /> <!-- Modificar por real Autor -->
    <meta content="{{ $title }}" property="og:title" />
    <meta name='keywords'
        content='{{ range .Params.tags }} {{.}}, {{ end }} scout, scouter, raiders, caminantes, manada, tropa, unidad, serscout, blog, noticias, exploradores, actividades, libros, juegos, patrullas, bp' />
    <meta property="og:url" content="https://serscout.com.ar{{ .RelPermalink }}" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ .Params.img }}" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:locale" content="es-ES" />

    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <link rel="canonical" href="https://serscout.com.ar{{ .RelPermalink }}" />

    <link href="/css/variables.css" rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css"
        integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&amp;display=swap" rel="stylesheet" />
    <link href="/css/animate.css" rel="stylesheet" />
    <link href="/css/tiny-slider.css" rel="stylesheet" />
    <link href="/css/glightbox.min.css" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />

    <title>{{ $title }}</title>

</head>