<header class="header navbar-area">
  <div class="toolbar-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-6 col-12">
          <div class="toolbar-social">
            <ul>
              <li><span class="title">Siguenos en: </span></li>
              {{- partial "widgets/social" -}}
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <!--<div class="toolbar-login">
              <div class="button">
                <a href="registration.html">Create an Account</a>
                <a href="login.html" class="btn">Log In</a>
              </div>
            </div>-->
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="nav-inner">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/">
              <img src="/img/favicon.png" alt="Logo" />
            </a>

            <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
              <ul id="nav" class="navbar-nav ms-auto me-auto">
                <li class="nav-item"><a href="/">Inicio</a></li>
                <li class="nav-item"><a href="/blog/">Blog</a></li>
                <li class="nav-item"><a href="/archivos/">Documentos</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>