{{ if gt .TotalPages 1 }}
<div class="pagination center">
    <ul class="pagination-list">
        {{ if .HasPrev }}
        <li><a href="{{ .Prev.URL }}">Anterior</a></li>
        {{ end }}

        <li class="active"><a href="javascript:void(0)">&nbsp;</a></li>

        {{ if .HasNext }}
        <li><a href="{{ .Next.URL }}">Siguiente</a></li>
        {{ end }}
    </ul>
</div>
{{ end }}