{{ define "main" }}
{{- partial "section/breadcrumbs" . -}}
<section class="section blog-single">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12">
                <div class="container-fluid" style="margin-bottom: 20px;">
                    <div class="row">
                        <div class="col-md-2"><img src="{{ .Params.img }}" class="img-fluid" alt="{{ .Title }}"
                                title="{{ .Title }}" /></div>
                        <div class="col-md-10">
                            <h1 class="post-title text-center">
                                {{ .Title }}
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="single-inner">
                    <div class="post-details">
                        <div class="detail-inner">

                            {{ .Content}}
                        </div>
                        <div class="post-comments">
                            <h3 class="comment-title">Comentarios</h3>
                            <div id="disqus_thread"></div>
                            <script>
                                var disqus_config = function () {
                                    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                                    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                                };

                                (function () {
                                    var d = document, s = d.createElement('script');
                                    s.src = 'https://serscout.disqus.com/embed.js';
                                    s.setAttribute('data-timestamp', +new Date());
                                    (d.head || d.body).appendChild(s);
                                })();
                            </script>
                        </div>
                    </div>
                </div>
            </div>

            <aside class="col-lg-4 col-md-12 col-12">
                <div class="sidebar">

                    <div class="widget popular-tag-widget">
                        <div class="tags">
                            <a href="{{ .Params.download }}" target="_blank" rel="external"
                                class="col-12 p-4">Descargar</a>
                        </div>
                    </div>

                    {{- partial "widgets/search" . -}}
                    {{- partial "widgets/recent-post" . -}}
                    {{- partial "widgets/categories" . -}}
                </div>

            </aside>

        </div>
    </div>
</section>
{{ end }}